@import "../../styles/partials/global";

.landing {
  &__header {
    height: 100vh;
    padding: 0 5%;
    text-align: start;
    background: url("../../assets/unsplash-carshow-edit.jpg");
    background-position: center;
    background-size: cover;
  }

  &__heading {
    color: $stockWhite;
    padding: 70px 0 30px 0;
    margin: 0;
  }

  &__btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  &__btn {
    font-family: "Montserrat", sans-serif;
    background: $appRed;
    color: $stockWhite;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 90px;
    outline: none;
    border-radius: 10px;
    border: 3px solid $appRed;
    margin: 30px 0;
    &:hover {
      cursor: pointer;
    }
  }
}

@include tablet {
  .landing {
    &__header {
      padding: 0 7%;
    }
    &__heading {
      font-size: 56px;
    }
    &__btn {
      font-size: 20px;
    }
  }
}

@include desktop {
  .landing {
    &__header {
      padding: 0 12.5%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    &__heading {
      font-size: 48px;
      padding: 70px 0px;
      width: 70%;
    }

    &__btn-wrapper {
      width: 30%;
    }

    &__btn {
      font-size: 16px;
      margin: 15px 0;
    }
  }
}
