$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

$appRed: #bd3f32;
$appOffRed: #cb356b;
$stockWhite: #fafafa;
$offWhite: #f5f5f5;
$silver: #afafaf;
$stockBlack: #323232;
$buttonBlue: #ebebff;
